<%= @player_name_1.name %> hit <%= @player_name_2.name%>!

<%= @player_name_1.name %>: <%= @player_name_1.hitpoints%>hp

<%= @player_name_2.name %>: <%= @player_name_2.hitpoints%>hp

<form action="/play">
  <input type="submit" value="Go back to arena">
</form>
