<%= @player_name_1.name %> Vs <%= @player_name_2.name %>

<%= @player_name_1.name %>: <%= @player_name_1.hitpoints%>hp

<%= @player_name_2.name %>: <%= @player_name_2.hitpoints%>hp

<form action="/P1_attack">
  <input type="submit" value="P1 attack">
</form>

